<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Multi-Login System </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Multi-Login System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li> <!-- Link to Home (Login page) -->
            <li><a href="./doctor_dashboard.ejs">Doctor Dashboard</a></li>
            <li><a href="./patient_dashboard.ejs">Patient Dashboard</a></li>
        </ul>
       
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Multi-Login System</p>
    </footer>
</body>
</html>
