<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>
</head>
<body>
    <h1>Patient Dashboard</h1>
    <p>Welcome, {{ user[1] }} {{ user[2] }}!</p>
    <p>Username: {{ user[4] }}</p>
    <p>Email: {{ user[5] }}</p>
    <p>Address: {{ user[8] }}, {{ user[9] }}, {{ user[10] }} - {{ user[11] }}</p>
    <img src="{{ url_for('static', filename='uploads/' + user[3]) }}" alt="Profile Picture">
    <h2>Blog Posts</h2>
    {% for post in posts %}
        <div>
            <h3>{{ post[1] }}</h3>
            <img src="{{ url_for('static', filename='uploads/' + post[2]) }}" alt="Post Image">
            <p>{{ post[4].split()[:15]|join(' ') }}{% if post[4].split()|length > 15 %}...{% endif %}</p>
        </div>
    {% endfor %}
    <a href="{{ url_for('logout') }}">Log Out</a>
</body>
</html>
